form(action="/" method="get").c-search-form
  input(autocomplete="off" id="search" type="text" name="s" value="<? the_search_query(); ?>" placeholder="<? _e('Search', 'cosmos'); ?>")
  button(type="submit").c-search-form__submit.c-icon-arrow-right-alt
