/**
 * Iconfont icons (components)
 *
 *    Generated with `gulp-iconfont` task using template at `styles/templates/_icons.styl`
 *    @link: https://www.npmjs.com/package/gulp-iconfont
 */

.c-icon-arrow-right-alt
  @extend .o-icon

  &:before
    content: "\EA01" !important // @stylint ignore

.c-icon-close
  @extend .o-icon

  &:before
    content: "\EA02" !important // @stylint ignore

.c-icon-facebook--alt
  @extend .o-icon

  &:before
    content: "\EA03" !important // @stylint ignore

.c-icon-facebook
  @extend .o-icon

  &:before
    content: "\EA04" !important // @stylint ignore

.c-icon-search
  @extend .o-icon

  &:before
    content: "\EA05" !important // @stylint ignore

.c-icon-twitter
  @extend .o-icon

  &:before
    content: "\EA06" !important // @stylint ignore

.c-icon-vk
  @extend .o-icon

  &:before
    content: "\EA07" !important // @stylint ignore
