/**
 * Site navigation
 */
.c-global-nav
  position relative
  z-index 99
  width 100%
  height rem(50px)
  
  box-shadow 0 0 32px rgba(0, 0, 0, .15)
  background-color $white
  border-bottom rem(1px) solid $gray--light
  transition all .4s ease-in-out

.c-masthead
  position relative
  top 0
  left 0
  width 100%
  height rem(250px)

.c-masthead__main
  width 100%
  height rem(250px)
  background-color $carbon-black
  transition .4s
  
  .test
    align(both)
    h1
      line-height 1
      font-size rem(70px)
      color $white
    
.is-sticky
  position fixed
  top 0
  left 0
