/**
 * Site navigation logo
 */
.c-nav__logo
  position absolute
  z-index 999
  top 0
  left 0

  a
    display block
    position relative
    padding rem(7px) rem(20px)

    svg
      height rem(35px)
      fill $carbon-black
