/**
 * Site navigation modal menu toggle
 */
.c-nav__search-toggle
  float left
  size rem(50px)
  text-align center

  border-left 1px solid $gray--light

  a
    padding rem(16px) 0
    font-size rem(18px)
    color $gray
    
    &:hover
    &:focus
      color $gray--medium
