// @stylint off

// Rupture media queries settings
// https://github.com/jescalan/rupture
rupture.enable-em-breakpoints   = true
rupture.base-font-size          = $base-font-size
rupture.retina-density          = 1.25
rupture.density-queries         = 'dppx' 'webkit' 'moz' 'dpi'

// Disable kouto-swiss prefixer in favour of autoprefixer
// http://kouto-swiss.io/docs.html
ks-vendors-prefixes = false

// @stylint on
