/**
 * Modal search close button
 */
.c-modal-search__close
  position absolute
  top rem(20px)
  right 0
  size rem(50px)
  font-size rem(18px)
  color $gray

  &:hover
  &:focus
    color $gray--medium
